<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>main</title>
<link rel="stylesheet"	type="text/css"	 href="css/headerS.css">
<style>
	h1{
		text-align: center;
	}
	h2{
		text-align: center;	
	}
	.a123{
		color: black;
		text-decoration: none;
	}
	.a123:hover{
		color: deepskyblue;
	}
</style>
</head>
<body>
	<div th:insert="~{/header::header}"></div>
	<center>
	<h1>학원 웹 페이지</h1>
	<hr>
	<h2><a href="/loginForm" class="a123">로그인</a></h2><br>
	<h2><a href="/asignForm" class="a123">회원가입</a></h1>
	<h2><a href="/List" class="a123">게시판</a></h1>
	</center>
</body>
</html>