<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>main</title>
<link rel="stylesheet"	type="text/css"	 href="css/headerS.css">
<style>
	h1{
		text-align: center;
	}
	h2{
		text-align: center;	
	}
	.a123{
		color: black;
		text-decoration: none;
	}
	.a123:hover{
		color: deepskyblue;
	}
	img{
		 	max-width: 50%; /* 이미지가 부모 요소를 넘어가지 않도록 최대 너비 설정 */
    		height: auto; /* 비율을 유지하면서 이미지 크기 조절 */
	}
</style>
</head>
<body>
	<div th:insert="~{/header3::header3}"></div>
	<center>
	<h1>학원 메인 페이지</h1>
	<h2 th:text="${name}+'님 반갑습니다!'"></h2>
	<hr>
	<div>
		<img src="/img/study.jpg">
	</div>
	</center>
</body>
</html>