<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>환영합니다!~~~~</title>
<link rel="stylesheet"	type="text/css"	 href="css/headerS2.css">
<style>
	
	h2{
		text-align: center;	
	}
	a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: deepskyblue;
	}
</style>
</head>
<body>
	<div th:insert="~{/header2::header2}"></div>
	<center>
		<br><br><br><br>
	<h1>회원가입이 완료되었습니다.</h1><br>
	<h1 th:text="${name}+'('+${authority}+') 님 환영합니다.'"></h1><br>
	<h2><a href="/index">로그인 하러가기</a></a></h2><br>
	</center>
	
</body>
</html>